@use '../abstracts/colors';
@use '../abstracts/variables' as vars;
@use '../abstracts/breakpoints' as *;

html {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(colors.$radial-gradient);
  color: colors.$white;
  height: 100vh;
  font-size: vars.$font-size-root;
  overflow-x: hidden;
}

body {
  font-family: vars.$font-family-base;
  font-weight: vars.$font-weight-normal;
  font-size: vars.$font-size-base-desktop;
  line-height: vars.$line-height-base;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  max-height: 90rem;
  width: 100%;
  padding-top: 4.2rem;
  padding-bottom: 2.2rem;

  @include breakpoint('max', 'xl') {
    max-height: 80rem;
    padding-top: 4.2rem;
    padding-bottom: 2.2rem;
  }

  @include breakpoint('max', 'md') {
    max-height: 75rem;
    padding-top: 3.8rem;
    padding-bottom: 2.2rem;
  }

  @include breakpoint('max', 'sm') {
    max-height: 70rem;
    padding-top: 0.5rem;
  }
}

header,
footer {
  max-width: 75rem;
  width: 85%;

  @include breakpoint('max', 'xl') {
    max-width: 70rem;
  }

  @include breakpoint('max', 'md') {
    max-width: 54rem;
  }
}

footer {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  margin-top: auto;
}
